In [1]:
import pandas as pds

In [2]:
df = pds.read_csv('data2.txt',sep='\t')

In [3]:
df.head()

,Time,Time Code,Country Name,Country Code,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],"Air transport, passengers carried [IS.AIR.PSGR]",Average precipitation in depth (mm per year) [AG.LND.PRCP.MM],Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]",Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN],Forest area (% of land area) [AG.LND.FRST.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],Land area (sq. km) [AG.LND.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",GDP (current US$) [NY.GDP.MKTP.CD],"International tourism, number of arrivals [ST.INT.ARVL]"
0,2012,YR2012,Afghanistan,AFG,1.812556e+10,1.737962e+06,327.0,6.298000,5.380,17.437223,2.067825,5.454545,652860.0,62.086,2.053654e+10,NaN
1,2012,YR2012,Albania,ALB,1.056092e+10,8.143397e+05,1485.0,16.542999,1.685,4.577602,28.262044,54.655959,27400.0,77.389,1.231978e+10,3156000.0
2,2012,YR2012,Algeria,DZA,1.660026e+11,4.082595e+06,89.0,40.745998,2.936,0.445065,0.811675,18.200000,2381740.0,75.187,2.090590e+11,2634000.0
3,2012,YR2012,American Samoa,ASM,NaN,5.609698e+04,NaN,NaN,NaN,NaN,88.200000,NaN,200.0,NaN,6.440000e+08,22600.0
4,2012,YR2012,Andorra,AND,NaN,NaN,NaN,NaN,NaN,1.221122,34.042553,86.434425,470.0,NaN,3.164615e+09,2238000.0

In [4]:
df.isna().sum(axis=0)

Time                                                                                       3
Time Code                                                                                  5
Country Name                                                                               5
Country Code                                                                               5
Adjusted net national income (current US$) [NY.ADJ.NNTY.CD]                               51
Air transport, passengers carried [IS.AIR.PSGR]                                           64
Average precipitation in depth (mm per year) [AG.LND.PRCP.MM]                             78
Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS]    36
Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                                 21
Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN]                               67
Forest area (% of land area) [AG.LND.FRST.ZS]                                             13
Individuals using the Internet (% of population) [IT.NET.USER.ZS]                         20
Land area (sq. km) [AG.LND.TOTL.K2]                                                        7
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                  22
GDP (current US$) [NY.GDP.MKTP.CD]                                                        22
International tourism, number of arrivals [ST.INT.ARVL]                                   29
dtype: int64

In [5]:
#dff = df.drop(["Intentional homicides (per 100,000 people) [VC.IHR.PSRC.P5]"],axis=1)
#dff = dff.drop(["Children out of school (% of primary school age) [SE.PRM.UNER.ZS]"],axis=1)

In [6]:
#dff.head()

In [7]:
df.shape

(269, 16)

In [8]:
df = df.dropna()

In [9]:
df.shape

(125, 16)

In [10]:
df.head()

,Time,Time Code,Country Name,Country Code,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],"Air transport, passengers carried [IS.AIR.PSGR]",Average precipitation in depth (mm per year) [AG.LND.PRCP.MM],Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]",Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN],Forest area (% of land area) [AG.LND.FRST.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],Land area (sq. km) [AG.LND.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",GDP (current US$) [NY.GDP.MKTP.CD],"International tourism, number of arrivals [ST.INT.ARVL]"
1,2012,YR2012,Albania,ALB,1.056092e+10,8.143397e+05,1485.0,16.542999,1.685,4.577602,28.262044,54.655959,27400.0,77.389,1.231978e+10,3156000.0
2,2012,YR2012,Algeria,DZA,1.660026e+11,4.082595e+06,89.0,40.745998,2.936,0.445065,0.811675,18.200000,2381740.0,75.187,2.090590e+11,2634000.0
5,2012,YR2012,Angola,AGO,3.730638e+10,1.132424e+06,1010.0,8.601000,6.000,0.063120,46.707628,6.500000,1246700.0,59.770,1.139232e+11,528000.0
8,2012,YR2012,Argentina,ARG,4.710316e+11,9.375670e+06,591.0,23.656000,2.347,53.663431,10.232215,55.800000,2736690.0,75.926,5.459824e+11,5587000.0
9,2012,YR2012,Armenia,ARM,9.453687e+09,3.647330e+05,562.0,17.691999,1.664,25.920984,11.640323,37.500000,28470.0,73.814,1.061932e+10,963000.0

In [19]:
dff = df.drop(["Time"], axis=1)

In [20]:
dff = dff.drop(["Time Code"], axis=1)

In [21]:
dff.describe()

,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],"Air transport, passengers carried [IS.AIR.PSGR]",Average precipitation in depth (mm per year) [AG.LND.PRCP.MM],Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]",Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN],Forest area (% of land area) [AG.LND.FRST.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],Land area (sq. km) [AG.LND.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",GDP (current US$) [NY.GDP.MKTP.CD],"International tourism, number of arrivals [ST.INT.ARVL]"
count,1.250000e+02,1.250000e+02,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,1.250000e+02,125.000000,1.250000e+02,1.250000e+02
mean,4.648238e+11,2.192107e+07,1167.144000,20.227216,2.698190,19.952205,32.911336,41.626827,8.885764e+05,71.808318,5.637589e+11,7.444791e+06
std,1.507424e+12,7.429768e+07,770.689655,7.930120,1.383543,18.942856,21.757971,27.633271,2.231898e+06,7.741353,1.785186e+12,1.350931e+07
min,6.011972e+08,0.000000e+00,51.000000,3.946000,1.269000,0.000000,0.006462,1.050000,7.060000e+02,51.463000,9.100262e+08,8.900000e+04
25%,1.352148e+10,5.931984e+05,593.000000,15.801000,1.664000,5.881806,13.397849,14.520000,5.596000e+04,67.377000,1.584647e+10,8.590000e+05
50%,4.194079e+10,2.206070e+06,1028.000000,20.171000,2.236000,14.522065,33.324829,40.301895,2.275400e+05,73.814000,5.656548e+10,2.156000e+06
75%,2.393276e+11,1.228956e+07,1705.000000,25.083000,3.072000,27.137740,47.747036,62.309997,6.531500e+05,76.924390,2.793728e+11,7.560000e+06
max,1.400189e+13,7.366990e+08,3240.000000,45.127998,7.420000,87.089810,98.355128,96.209800,1.637687e+07,83.096098,1.615526e+13,8.198000e+07

In [24]:
dff.head()

,Country Name,Country Code,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],"Air transport, passengers carried [IS.AIR.PSGR]",Average precipitation in depth (mm per year) [AG.LND.PRCP.MM],Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS],"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]",Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN],Forest area (% of land area) [AG.LND.FRST.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],Land area (sq. km) [AG.LND.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",GDP (current US$) [NY.GDP.MKTP.CD],"International tourism, number of arrivals [ST.INT.ARVL]"
1,Albania,ALB,1.056092e+10,8.143397e+05,1485.0,16.542999,1.685,4.577602,28.262044,54.655959,27400.0,77.389,1.231978e+10,3156000.0
2,Algeria,DZA,1.660026e+11,4.082595e+06,89.0,40.745998,2.936,0.445065,0.811675,18.200000,2381740.0,75.187,2.090590e+11,2634000.0
5,Angola,AGO,3.730638e+10,1.132424e+06,1010.0,8.601000,6.000,0.063120,46.707628,6.500000,1246700.0,59.770,1.139232e+11,528000.0
8,Argentina,ARG,4.710316e+11,9.375670e+06,591.0,23.656000,2.347,53.663431,10.232215,55.800000,2736690.0,75.926,5.459824e+11,5587000.0
9,Armenia,ARM,9.453687e+09,3.647330e+05,562.0,17.691999,1.664,25.920984,11.640323,37.500000,28470.0,73.814,1.061932e+10,963000.0

In [25]:
df_km = dff.iloc[:,[0,7,8,9,10,11]]
#Jeu de donnes pour faire le k_means
#Y a-t-il un lien entre les variables slectionnes ?

In [26]:
df_km.head()

,Country Name,Food exports (% of merchandise exports) [TX.VAL.FOOD.ZS.UN],Forest area (% of land area) [AG.LND.FRST.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],Land area (sq. km) [AG.LND.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]"
1,Albania,4.577602,28.262044,54.655959,27400.0,77.389
2,Algeria,0.445065,0.811675,18.200000,2381740.0,75.187
5,Angola,0.063120,46.707628,6.500000,1246700.0,59.770
8,Argentina,53.663431,10.232215,55.800000,2736690.0,75.926
9,Armenia,25.920984,11.640323,37.500000,28470.0,73.814